html {
    min-height: 5em;
    min-width: 350px;
}

.title_border{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0d6efd;
    min-height: 50px;
}