html {
    min-height: 5em;
    min-width: 350px;
}

.title_border{
    background-color: #0d6efd;
    min-height: 50px;
}

.title{
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
